.navbar-bg {
  background-size: contain !important;
  background: url('../img/bg_pattern_batik_up.jpg') repeat-x;
}

.main-footer {
  background-size: contain !important;
  background: url('../img/bg_pattern_batik.jpg') repeat-x;
}

.main-wrapper-1 .section .section-header {
  margin-left: 0px;
  margin-right: 0px;
}

.custom-file-label::after {
  content: "Cari";
}

.card.card-statistic-1 .card-header,
.card.card-statistic-2 .card-header {
  padding-top: 16px;
}

.card.card-statistic-1 .card-body {
  font-size: 25px;
}

.card.card-statistic-1 .card-header h4,
.card.card-statistic-2 .card-header h4 {
  color: #4a5155;
}

.badge.report-status {
  min-width: 101px;
}

.modal-create-user .form-group {
  margin-bottom: 10px;
}

.btn-guide {
  color: #fff !important;
}

.custom-file-label.is-invalid {
  border-color: #dc3545;
}

.btn-green,
.btn-green.disabled {
  color: #fff;
  box-shadow: 0 2px 6px #304b39;
  background-color: #02471a;
  border-color: #02471a;
}

.btn-green:hover {
  background-color: #012b0f !important;
}

.main-sidebar .sidebar-menu li.active a {
  color: #02471a;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
  color: #02471a;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li.active>a {
  color: #02471a;
}

.card.card-primary {
  border-top: 2px solid #02471a;
}

@media only screen and (max-width: 600px) {
  .btn-guide {
    margin-left: 5% !important;
    color: #ffa426 !important;
    text-decoration: underline !important;
  }
}